<!DOCTYPE html>
<html>
    <head>
        <title>관리자 페이지</title>
    </head>
    <body>
        <a href="/admin/write">게시물 작성하기</a><br>
        <a href="/admin/users/1">사용자 목록으로</a><br>
        <a href="/admin/posts/1">게시물 목록으로</a><br>
        <a href="/admin/comments/1">댓글 목록으로</a><br>
        <a href="/admin/logout">로그아웃</a><br>
    </body>
</html>