<!DOCTYPE html>
<html>
    <head>
        <title>관리자 비밀번호 변경</title>
    </head>
    <body>
        <h1>관리자 로그인(비밀 번호 변경)</h1>
        <a href="/admin/login">로그인 하러 가기</a>
        <hr>
        <form action="/admin/change" method="POST">
            ID: <input type="text" name="id"><br>
           기존 PW: <input type="password" name="password"><br>
           변경 할 PW: <input type="password" name="repassword"><br>
            <input type="submit" value="비밀번호 재설정">
        </form>  

       
    </body>
</html>