<!DOCTYPE html>
<html>
    <head>
        <title>저의 블로그에 오신걸 환영합니다.</title>
    </head>
    <body>
        <h1>저의 블로그에 오신걸 환영합니다</h1>
        <% if(locals.message) { %>
            <p><%= message || "" %></p>
        <% } %>
        <% if(user_id) { %>
            <%= user_id %>님 환영합니다.<br>
            <a href="/logout">로그아웃</a><br>
            <a href="/leave">회원탈퇴</a><br>
        <% } else { %>
            <a href="/login">로그인</a><br>
            <a href="/signup">회원가입</a><br>
        <% } %>
        <hr>
        <a href="/posts/1">게시물 목록으로</a><br>

    </body>
</html>