<!DOCTYPE html>
<html>
    <head>
        <title>로그인하기</title>
    </head>
    <body>
        <h1>로그인</h1>
        <a href="/">뒤로가기</a>
        <hr>
        <% if(locals.message) { %>
            <p><%= message || "" %></p>
        <% } %>
        <form action="/login" method="POST">
            ID: <input type="text" name="id"><br>
            PW: <input type="password" name="password"><br>
            <input type="submit" value="로그인" name="title">
        </form>
    </body>
</html>