<!DOCTYPE html>
<html>
    <head>
        <title>일반 사용자 게시물 작성</title>
    </head>
    <body>
        <h2>게시물 작성하기</h2>
        <a href="/">돌아가기</a><br>
        <hr>
         <form action="/user/write" method="POST">
            글쓴이: <input type="text" name="user_id" ><br>
            제목: <input type="text" name="title" ><br>
            내용<br>
            <textarea name="content" ></textarea><br>
            <input type="submit" value="작성">
        </form>
    </body>
</html>